@font-face {
  font-family: icons;
  font-display: swap;
  src: url("/assets/fonts/icons.woff2") format("woff2"), url("/assets/fonts/icons.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}
[class*=_icon-]:before {
  font-family: "icons";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class*=_icon-]:before {
  display: block;
}

._icon-angle-right:before {
  content: "\e904";
}

._icon-circle-chevron-right:before {
  content: "\e90e";
}

._icon-arrow-right:before {
  content: "\e908";
}

._icon-circle-right:before {
  content: "\e90f";
}

._icon-folder-open:before {
  content: "\e910";
}

._icon-folder-tree:before {
  content: "\e911";
}

._icon-book:before {
  content: "\e90a";
}

._icon-address-book:before {
  content: "\e900";
}

._icon-address-card:before {
  content: "\e901";
}

._icon-house:before {
  content: "\e916";
}

._icon-location-arrow:before {
  content: "\e917";
}

._icon-location-dot:before {
  content: "\e918";
}

._icon-location-pin:before {
  content: "\e919";
}

._icon-cart-shopping:before {
  content: "\e90b";
}

._icon-phone:before {
  content: "\e91b";
}

._icon-phone-square:before {
  content: "\e91c";
}

._icon-search:before {
  content: "\e91d";
}

._icon-social-email:before {
  content: "\e91e";
}

._icon-social-whatsapp:before {
  content: "\e922";
}

._icon-social-viber:before {
  content: "\e920";
}

._icon-footer-telegram:before {
  content: "\e914";
}

._icon-social-telegram:before {
  content: "\e91f";
}

._icon-footer-vk:before {
  content: "\e915";
}

._icon-social-vk:before {
  content: "\e921";
}

._icon-user:before {
  content: "\e923";
}

._icon-check:before {
  content: "\e90c";
}

._icon-circle-check:before {
  content: "\e90d";
}

._icon-xmark:before {
  content: "\e925";
}

._icon-circle-xmark:before {
  content: "\e924";
}

._icon-no-cart-shopping:before {
  content: "\e91a";
}

._icon-footer-question:before {
  content: "\e912";
}

._icon-footer-question-2:before {
  content: "\e913";
}

._icon-ruble:before {
  content: "\e902";
}

._icon-dollar:before {
  content: "\e903";
}

._icon-euro:before {
  content: "\e905";
}

._icon-ART:before {
  content: "\e906";
}

._icon-Bearings:before {
  content: "\e907";
}

._icon-filter:before {
  content: "\e909";
}

._icon-arrow-down-short-wide:before {
  content: "\e926";
}

._icon-arrow-down-wide-short:before {
  content: "\e927";
}

._icon-arrow-up-short-wide:before {
  content: "\e928";
}

._icon-arrow-up-wide-short:before {
  content: "\e929";
}

body {
  margin: 0 auto;
  background-color: #c0c0c0;
  color: #4a4a4a;
}

.search-header__body {
  border: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.search-header__input {
  width: 100%;
  position: relative;
  border: none;
  border-top-left-radius: 0.625rem;
  border-bottom-left-radius: 0.625rem;
  padding: 0.3125rem 0.625rem;
  min-height: 2.5rem;
}
.search-header__input:focus, .search-header__input:active, .search-header__input:focus-visible {
  border: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-color: #485fc7;
}
.search-header__input_clear {
  display: none;
}
.search-header__input_active {
  position: absolute;
  top: 0;
  right: 2.5rem;
  border: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0.3125rem;
  min-width: 2.5rem;
  min-height: 2.5rem;
  color: #4a4a4a;
}
.search-header__input_active::before {
  color: #485fc7;
}
.search-header__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #ffffff;
  border: none;
  border-top-right-radius: 0.625rem;
  border-bottom-right-radius: 0.625rem;
  background-color: #ed1c24;
  padding: 0.3125rem;
  min-width: 2.5rem;
  min-height: 2.5rem;
  font-size: 1.5rem;
}
.search-header__button::before {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}